.update-message-logo-svg { 
  fill: none;
}

.update-message-logo-body { 
  fill: #D7E0FF;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.update-message-logo-body-border { 
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke: #175A9B;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.update-message-logo-tip-border { 
  stroke: #175A9B;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

