@media screen and (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: none !important;
  }
}
@media screen and (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: none !important;
  }
}
@media screen and (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: none !important;
  }
}
@media screen and (min-width: 576px) {
  .container,
  .container-sm {
    max-width: none !important;
  }
}

a { 
  text-decoration: none !important;
  pointer-events:inherit !important;
  width: fit-content !important;
}

a:hover {
  color: #efd59c !important;
  cursor: pointer !important;  
}

body { 
  background-color: #F2F1E6 !important;
}

@import "bootstrap/dist/css/bootstrap.min.css";
