.font-poppins-200 {
  font-family: Poppins, sans-serif !important;
  font-weight: 200 !important;
}

.font-poppins-300 {
  font-family: Poppins, sans-serif !important;
  font-weight: 300 !important;
}

.font-poppins-400 {
  font-family: Poppins, sans-serif !important;
  font-weight: 400 !important;
}

.font-poppins-500 {
  font-family: Poppins, sans-serif !important;
  font-weight: 500 !important;
}

.font-poppins-600 {
  font-family: Poppins, sans-serif !important;
  font-weight: 600 !important;
}

.font-poppins-700 {
  font-family: Poppins, sans-serif !important;
  font-weight: 700 !important;
}

.nav-menu-font { 
  font-size: 20px !important;
  line-height: 30px !important; 
  font-style: normal !important; 
  letter-spacing: 1px;
}