.theme-container {
  background-color: #FDFDFA !important;
  border: 5px solid #BDBCAC !important;
  color: #175A9B !important;
  border-radius: 35px;
  padding: 5% 15%;
  width: 50% !important;
  margin-top: 48px;
}

.chat-menu-font { 
  font-size: 25px !important; 
  line-height: 38px !important;
  text-decoration-line: underline !important;
  
  color: #175A9B !important;
}