.circle-search-logo-part {
  stroke: #175a9b;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.stick-search-logo-part {
  stroke: #175a9b;
  stroke: width 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}