.delete-message-logo { 
  fill: none;
}

.delete-logo-lid-corners {
  stroke: #175a9b;
  stroke-width: 1.5px;
  stroke-linecap: round;
}

.delete-logo-filling {
  fill: #d7e0ff;
}

.delete-logo-body-border {
  stroke: #175a9b;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.delete-logo-lid-hat {
  stroke: #175a9b;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.delete-logo-body-left-stick {
  stroke: #175a9b;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.delete-logo-body-right-stick {
  stroke: #175a9b;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
