
.number-section {
  width: fit-content !important;
  padding: 100px;
  font-size: 20px;
  color: #83B9D3;
}

.number-section-number { 
  color: #C46D6B;
}

.number-new-kills { 
  position: absolute;
  bottom: 60px;
  color: #909090;
}


