.weather-logo-circle {
  fill: #F3B73B;
  stroke: #F3B73B;
  stroke-width: 1.5;

}

.weather-logo-cloud { 
  fill: #6998C2;
}

.weather-logo { 
  fill: none;
  width: 57.69% !important;
  height: 50% !important;
}