.done-update-message-logo-background {
  fill: #d7e0ff;
  stroke: #175A9B;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.done-update-message-logo-symbol {
  stroke: #175A9B;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
