
.chat-page { 
  background-color: #F2F1E6 !important;
  height: 100%;
  overflow-y: scroll !important;
}

.header-chat-page { 
  position: sticky;
  height: auto !important;
}

.chat-input {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.background-form { 
  background-color: #f2f1e6;
  z-index: 2;
  height: 10% !important;
  padding: 5% 7% 5% 5%; 
  width: 100% !important;
}

.background-receiver-logo { 
  margin-top: 7.4% !important;
  margin-bottom: 4% !important;
  padding: 0 !important;
  background-color: #f2f1e6;
  height: 100% !important;
  width: 100% !important;
  z-index: 2;
}

.receiver-logo {
  display: flex !important;
  padding: 2.5% 11.8% !important;
  text-align: center;
  border-radius: 30px;
  width: auto !important;
  height: 10% !important;
  z-index: 3;
  background-color: #6998c2;
  color: #f2f1e6;
  font-size: 24px;
  line-height: 36px;
}

.message-input-control { 
  height: 100% !important;
}

.message-input-col { 
  height: 50px;
}

.chat-history-row { 
  margin-bottom: 20%;
}

.button-col {
  width: fit-content !important;
  height: fit-content !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  right: 16%;
  bottom: 35%;
}

.message-input-col { 
  width: 75% !important;
}

.send-button { 
  background-color: transparent !important;
  border-color: transparent !important;
  width: fit-content !important;
  height: fit-content !important;
  padding: 0 !important;
  bottom: 50% !important;
}