.post { 
  background-color: #FDFDFA;
  margin: 0 8%;
  width: 84%;
  border: #BDBCAC 5px solid;
  border-radius: 25px;
  padding: 3% 6%;
  max-width: 674px !important;
}

.post-tags-bar { 
  margin-bottom: 1em;
}

.post-header { 
  width: 94% !important;
  color: #175A9B;
  font-size: 25px;
}

.post-content { 
  width: 94% !important;
  color: #486877;
  font-size: 16px;
}

.post-comments { 
  background-color: #FDFCEE;
  border-radius: 25px;
  border: #D8C59E 3px solid;
  width: 94% !important;
  margin-top: 2% !important;
  padding: 3%;
}

.post-likes { 
  margin: 5% 0 2% 6% !important;
}

.post-likes-amount { 
  color: #175A9B;
  margin-top: 4% !important;
  font-size: 150%;
  padding-left: 0 !important;
}

.comment-input { 
  width: 80% !important;
  margin-top: 2%;
}

.comment-input:focus { 
  z-index: 1 !important;
}

.send-comment-button { 
  position: fixed;
  left: -6%;
  padding-top: 2.5% !important;
}

.post-row { 
  margin-bottom: 3%;
}